<h1>Yo, welcome to <a href="https://www.youtube.com/watch?v=7MB4vkYTjhQ&t=0m57s">BETCHA</a></h1>
<h2>Betcha you're gonna fall in love with it, if you haven't already...</h2>
<h3>Use the LOG IN in the right hand corner, if you are already a member</h3>
<p>Shoulda betcha you were new here... <%= link_to 'Sign up', signup_path, class: 'btn btn-primary' %> </p>
